:root {
  *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
