/* :root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');
:root{
    --primary-color:rgb(219,4,4);
    --grey:#cac7c7;
    --overlay:#0000009c;
    font-size: 62.5%;
}
*{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        line-height: 1.5;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}